{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}

{#
  Pages: News
  ------------------------------------------------------------
#}

{% extends "entry/default.twig" %}
{% import "_macros/_macros.twig" as macro %}

{% block inlineCriticalCss %}
    wewewewewe
    {{ _self }}
    {{ craft.twigpack.includeCriticalCssTags("@webroot/dist/criticalcss/entry/pages/paginated_critical.min.css") }}
{% endblock %}

{% set entries = craft.entries({
    section: entry.title,
    relatedTo: null,
    limit: 4,
    offset: null
}) %}


{% paginate entries as pageInfo, pageEntries %}

    {% block head %}
        {% if pageInfo.prevUrl %}
            <link rel="prev" href="{{ pageInfo.prevUrl }}">
        {% endif %}
        {% if pageInfo.nextUrl %}
            <link rel="next" href="{{ pageInfo.nextUrl }}">
        {% endif %}
    {% endblock %}


    {% block content %}

<div class="bg-teal-200">
        {% block itemContent %}
            {{ parent() }}
        {% endblock %}
        {# -- Cache -- #}
        {% cache globally using key 'paginated-archive-' ~ craft.app.request.pathInfo ~ (craft.app.request.pageNum ? '/p' ~ craft.app.request.pageNum : '') %}

            <div>
                {% for entry in pageEntries %}
                    {% include '_item.twig' %}
                {% endfor %}
            </div>

            <div>
                {{ macro.pagination(pageInfo, craft, {}) }}
            </div>
            {# -- Cache End -- #}
        {% endcache %}
</div>
    {% endblock %}
