{# set defaults #}
{% set slider = {
    imager: {
        options: {
            class: 'w-full h-full',
        },
        template: 'default',
    },
    data: opt.data,
    class: {
        wrapper: 'py-4',
        slider: 'js-slider',
        track: 'glide__track',
        slides: 'h-64 md:h-192',
        articleImageCaption: '',
        container: 'relative md:absolute top-0 bottom-0 w-full h-full',
        containerInner: 'container w-full h-full relative flex',
        body: 'ml-auto flex my-auto text-center overflow-hidden w-full  justify-center',
        introHeadline: 'mx-auto text-fluid font-serif text-white cursor-pointer word-break',
        introTeaser: 'mx-auto text-fluid font-serif text-white cursor-pointer word-break',
        introHeadlineSpan: 'c-link-hover:bg-shadow',
        linkWrap: 'c-link',
        arrows: 'w-full h-full glide__arrows',
        arrowLeft: 'hidden md:flex ml-8 h-full absolute left-0 top-0 bottom-0 glide__arrow glide__arrow--left',
        arrowRight: 'hidden md:flex mr-8 h-full absolute right-0 top-0 bottom-0 glide__arrow glide__arrow--right',
        bullets: 'h-8 mb-0 mb:mb-8 w-full absolute bottom-0 slider__bullets glide__bullets flex justify-center',
        bullet: 'glide__bullet',
    },
} %}

{% set carousel = {
    imager: {
        options: {
            class: 'w-full h-64',
        },
        template: 'default',
    },
    data: opt.data,
    class: {
        wrapper: 'bg-brand max-w-4xl mx-auto py-4',
        slider: 'js-carousel',
        track: 'glide__track',
        slides: 'h-80 w-full',
        linkWrap: 'c-link',
        container: 'relative md:absolute top-0 bottom-0 w-full h-full',
        containerInner: 'w-full h-full relative flex',
        body: 'absolute bottom-0 flex flex-col text-center overflow-hidden h-16 w-full',
        introHeadline: 'mx-auto mb-auto mt-4 text-xl font-serif text-white cursor-pointer word-break',
        introHeadlineSpan: 'c-link-hover:bg-shadow',
        arrows: 'w-full h-full glide__arrows',
        arrowLeft: '-ml-16 h-full absolute left-0 top-0 bottom-0 glide__arrow glide__arrow--left',
        arrowRight: '-mr-16 h-full absolute right-0 top-0 bottom-0 glide__arrow glide__arrow--right',
        bullets: 'h-8 mb-8 w-full absolute bottom-0 slider__bullets glide__bullets flex justify-center',
        bullet: 'glide__bullet',
    },
} %}

{# check slider layout #}
{% if block.layout == 'js-carousel' %}
    {% set defaults = carousel %}
{% else %}
    {% set defaults = slider %}
{% endif %}

{# -- Merge Default with Options -- #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{% if opt.class.wrapper %}
<div class="{{ opt.class.wrapper }}">
    {% endif %}
    <div class="glide {{ opt.class.slider }}">
        <div data-glide-el="track" class="{{ opt.class.track }}">
            <div class="glide__slides {{ opt.class.slides }}">
                {% for entry in opt.data %}
                    {% set image = entry.teaserImage.one() ?? entry.headerImage.one() ?? null %}
                    <div class="relative glide__slide">
                        {% if opt.imager %}
                            {% include '_elements/img/default' with {
                                data : {
                                    imager: {
                                        options: opt.imager.options,
                                        images: {
                                            imageLandscape: image ?? null,
                                        }
                                    },
                                }
                            } only %}
                        {% endif %}
                        {% if opt.class.linkWrap %}
                        <a href="{{ entry.url }}" class="{{ opt.class.linkWrap }}">
                            {% endif %}
                            <div class="{{ opt.class.container }}">
                                {% if opt.class.articleImageCaption %}
                                    {% if image.caption|length %}
                                        <div class="{{ opt.class.articleImageCaption }}">
                                            {% if image.caption|length %}
                                                {{ image.caption ?? null }}
                                            {% endif %}
                                            {% if image.source|length %}
                                                /
                                                <a class="text-white hover:underline"
                                                   href="{{ image.sourceUrl }}">{{ image.source }}</a>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <div class="{{ opt.class.containerInner }}">
                                    <div class="{{ opt.class.body }}">
                                        {% if opt.class.introHeadline %}
                                            <h3 class="{{ opt.class.introHeadline }}">
                                                {% set title = entry.teaserText ?? entry.title ?? null %}
                                                <span class="{{ opt.class.introHeadlineSpan }}">
                                                    {{ title | upper }}
                                                </span>
                                            </h3>
                                        {% endif %}
                                        {% if opt.class.introTeaser %}
                                            <p class="{{ opt.class.introTeaser }}">
                                                {% set text = entry.teaserText ?? entry.title %}
                                                {{ text|striptags }}</p>
                                        {% endif %}
                                        {# prüfen ob link vorhanden und entfernen #}
                                        {% if entry.entry|length %}
                                            <a href="{{ entry.entry.one().getUrl() }}"
                                               class="mx-auto font-serif no-underline text-white bg-brand px-4 py-2 hover:bg-brand-85 hover:underline text-lg c-link">
                                                {{ entry.cta ?? entry.entry.title }}
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% if opt.class.linkWrap %}
                        </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if opt.data | length > 1 %}
            {% if opt.class.arrows %}
                <div class="{{ opt.class.arrows }}" data-glide-el="controls">
                    <button class="{{ opt.class.arrowLeft }}" data-glide-dir="<" aria-label="previous slide">
                        {% include '_svg/iconArrowLeft.svg' %}
                    </button>
                    <button class=" {{ opt.class.arrowRight }} " data-glide-dir=">" aria-label="Next slide">
                        {% include '_svg/iconArrowRight.svg' %}
                    </button>
                </div>
            {% endif %}
            {% if opt.class.bullets %}
                <div class="{{ opt.class.bullets }}" data-glide-el="controls[nav]">
                    {% for entry in opt.data %}
                        <button class="{{ opt.class.bullet }}" data-glide-dir="={{ loop.index0 }}" aria-label="select slide"></button>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% if opt.class.wrapper %}
</div>
{% endif %}
