{% extends "entry/default.twig" %}


    {% block inlineCriticalCss %}
        <style>
            {{ craft.twigpack.includeFile('@webroot/dist/criticalcss/' ~ _self ~  '_critical.min.css') }}
        </style>
    {% endblock %}

{# -- cache -- #}
{% cache globally using key 'entry/articles/default-' ~ (craft.imager.clientSupportsWebp ? "with-webp") ~ craft.app.request.pathInfo ~ (craft.app.request.pageNum ? '/p' ~ craft.app.request.pageNum : '') %}


    {% block content %}

        <div class="flex-col items-center">
            <h1>{{ entry.title }}</h1>
            <time datetime="{{ entry.postDate | date('M d, Y') }}">
                {{ entry.postDate | date('M d, Y') }}</time>

            {# show categories/breadcrumps #}
            {% if entry.category %}
                <div>
                    {% set categories = entry.category %}
                    {% for entry in categories.all() %}
                        <a href="{{ entry.url }}">
                            {{ entry }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="bg-yellow-400">
            {% block itemContent %}
                {% if entry.contentBuilder %}
                    {% include '_matrix.twig' with {
                        matrix : entry.contentBuilder,
                    } only %}
                {% endif %}
            {% endblock %}
        </div>

    {% endblock %}


    {# -- !Cache -- #}
{% endcache %}
