{% extends '_layouts/_layout.twig' %}

{# -- inline css -- #}
{% block _inline_css %}
    <style>
        {{source (_self ~ '_critical.min.css', ignore_missing=true)}}
    </style>
{% endblock %}

{% block header %}

    {% include '_components/header/default.twig' with {
        opt : {
            imager: {
                template: entry.contentImageMobile.one() ? 'artDirection' : 'default',
                lazy: false,
                mediaBox: false,
                class: 'absolute top-0 left-0 w-full h-full',
            },
            el: {
                nav: 'default',
                image: {
                    caption: false,
                    imageLandscape:  entry.entryImage.one() ?? entry.introImage.one() ?? null,
                    imagePortrait: entry.entryImageMobile.one() ??  entry.entryImage.one() ?? entry.introImage.one() ?? null,
                },
                title: false,
                description: false,
            }
        }
    } only %}

{% endblock %}

{% block content %}
sadasd
<div class="o-wrap flex-col items-center">
    <h1 class="o-wrap__item o-wrap__item--quad">{{ entry.title }}</h1>
    <time class="o-wrap__item o-wrap__item--half"
          itemprop="datePublished"
          itemtype="http://schema.org/datePublished"
          datetime="{{ entry.postDate | date('M d, Y') }}">
        {{ entry.postDate | date('M d, Y') }}</time>

    {# show categories/breadcrumps #}
    {% if entry.category %}
        <div class="o-wrap__item o-wrap__item--half">
            {% set categories = entry.category %}
            {% for entry in categories.all() %}
                <a href="{{ entry.url }}" class="hover:bg-red-light hover:text-font text-white align-middle bg-font no-underline rounded py-1 px-4 mx-2">
                    {{ entry }}
                </a>
            {% endfor %}
        </div>
    {% endif %}
</div>

    {% block itemContent %}
        {% if entry.contentBuilder %}
            {% include '_matrix' with {
                matrix : entry.contentBuilder,
            } only %}
        {% endif %}
    {% endblock %}




{% endblock %}
