<header itemscope itemtype="http://schema.org/WPHeader">
    {% if opt.el.nav %}
        {% include '_elements/nav/' ~ opt.el.nav with {
            opt : {
                data: navigationMain.globalNavigationMain.all() ?? null
            }
        } only %}
    {% endif %}
    {% block headerContent %}
        <div class="o-wrap">
            {% if opt.el.image %}
                <div class="o-wrap__item o-wrap__item--half relative w-full h-half-screen">
                    {% include '_elements/img/default.twig' with {
                        opt : {
                            data: opt.el.image,
                            imager: opt.imager,
                        }
                    } only %}
                    {% if opt.el.image.caption %}
                        <div class="absolute pin-b text-white text-sm">
                            {{ opt.el.image.caption }}
                            {% if opt.el.image.source %}
                                /
                                <a class="text-white hover:underline"
                                   href="{{ opt.el.image.sourceUrl }}">{{ opt.el.image.source }}</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            {% if opt.el.title %}
            <h1 class="o-wrap__item o-wrap__item--quad mb-8" itemprop="headline">
                <span class="js-headline">{{ opt.el.title }}</span>
            </h1>
            {% endif %}
            {% if opt.el.description %}
                <p class="o-wrap__item" itemprop="description">
                    {{ opt.el.description|striptags }}
                </p>
            {% endif %}
        </div>
    {% endblock %}
</header>
