{# Logo and Nav #}
<div
    class="mx-auto flex justify-between js-nav mb-8 p-4">

    <a href="{{ alias('@web') }}" title="Homepage"
       aria-label="navigate to homepage">
        {% include '_svg/logo.svg' with {
            data : {
                svg: {
                    class: 'w-8',
                }
            }
        } only %}
    </a>

    {% if data.nav %}
        {% include '_elements/nav/' ~ data.nav.template with {
            data: {
                nav: {
                    entry: data.nav.entry
                }
            }
        } only %}
    {% endif %}

</div>

{# Header Content #}
{% block headerContent %}

    <div class="relative">

        {% if data.imager.images.imageLandscape is not null  %}
            <div
                class="relative p-4 mb-8">
                {% include '_elements/img/' ~ data.imager.template ~ '.twig' with {
                    data : {
                        imager: {
                            images: data.imager.images,
                            options: data.imager.options,
                        }
                    }
                } only %}
                {% if data.imager.images.imageLandscape.caption %}
                    <div class="absolute">
                        {{ data.imager.images.imageLandscape.caption }}
                        {% if data.imager.images.imageLandscape.source %}
                            /
                            <a href="{{ data.imager.images.imageLandscape.sourceUrl }}">{{ data.imager.images.imageLandscape.source }}</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if data.header.title.entry or data.header.description.entry %}
            <div
                class="max-w-5xl mx-auto items-center flex flex-col p-4 mb-8">
                {% if data.header.title.entry %}
                    <h1 class="text-grey-darkest">{{ data.header.title.entry }}</h1>
                {% endif %}
                {% if data.header.description.entry %}
                    {{ data.header.description.entry }}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
