{% import "_macros/_macros.twig" as macro %}

{% for block in opt.data %}
    <div class="flex justify-center">
        <p class="copyright">&copy;
            <span itemprop="copyrightYear">{{ now|date('Y') }}</span>
            <span itemprop="copyrightHolder" itemscope="itemscope"
                  itemtype="http://schema.org/Organization">
                <span itemprop="name">{{ block.company }}</span>
                <span itemprop="address" itemscope="itemscope"
                      itemtype="http://schema.org/PostalAddress">
                    <span itemprop="streetAddress">{{ block.street }}</span>
                    <span itemprop="postalCode">{{ block.postalCode }}</span>
                    <span itemprop="addressLocality">{{ block.city }}</span>
                    <span itemprop="addressCountry">{{ block.country }}</span>
                </span>
                <span itemprop="telephone">
                    <a href="tel:{{ block.phone|replace({' ':''})|replace({'/':''}) }}"
                       title="contact phone"
                       rel="nofollow">{{ block.phone }}</a>
                </span>
                <span itemprop="email">
                    <a href="mailto:{{ block.mail }}" title="contact email"
                       rel="nofollow">{{ block.mail }}</a>
                </span>
            </span>
        </p>

        {% if opt.el.nav %}
            {% include '_elements/nav/' ~ opt.el.nav with {
                opt : {
                    data: navigationFooter.globalNavigationFooter.all() ?? null
                }
            } only %}
        {% endif %}

        <span> <a rel="nofollow" title="Homepage"
                  href="{{ alias('@web') }}">{% include '_svg/logo.svg' with {
                    opt : {
                        class: 'w-8',
                    }
                } only %}</a></span>

    </div>
{% endfor %}
