{% for block in opt.data %}
    <div class="flex justify-center">
        <span>{{ now|date('Y') }}</span>
        <span itemprop="name">{{ block.company }}</span>
        <span>{{ block.street }}</span>
        <span>{{ block.postalCode }}</span>
        <span>{{ block.city }}</span>
        <span>{{ block.country }}</span>
        <span>
            <a href="tel:{{ block.phone|replace({' ':''})|replace({'/':''}) }}"
               title="contact phone"
               rel="nofollow">{{ block.phone }}</a>
        </span>
        <span>
            <a href="mailto:{{ block.mail }}" title="contact email"
               rel="nofollow">{{ block.mail }}
            </a>
        </span>

        {% if opt.el.nav %}
            {% include '_elements/nav/' ~ opt.el.nav with {
                data : {
                    nav: {
                        entry: navigationFooter.globalNavigationFooter.all() ?? null,
                    }
                }
            } only %}
        {% endif %}

        <span>
            <a rel="nofollow" title="Homepage"
               aria-label="navigate to homepage"
               href="{{ alias('@web') }}">{% include '_svg/logo.svg' with {
                    data : {
                        svg: {
                            class: 'w-8',
                        }
                    }
                } only %}</a>
        </span>

    </div>
{% endfor %}
