{% if opt.cn.wrap %}
    <div class="{{ opt.cn.wrap }}">
        {% if opt.imager %}
            {% set image = opt.data.introImage.one() %}
            {% if image %}
                {% include '_elements/img/default' with {
                    opt : {
                        data: image,
                        imager: {
                            class: opt.imager.class,
                            alt: opt.data.title
                        }
                    }
                }
                only %}
            {% endif %}
        {% endif %}
    {% endif %}
    <article class="{{ opt.cn.article }}">
        {% if opt.cn.header ?? null %}
            <header class="{{ opt.cn.header }}">
                {% if opt.cn.pubdate ?? null %}
                    <p class="{{ opt.cn.pubdate }}">
                        <time pubdate="pubdate">{{ opt.data.postDate | date('d M, Y') }}</time>
                    </p>
                {% endif %}
                {% if opt.cn.h2 ?? null %}
                    <h2 class="{{ opt.cn.h2 }}">{{ opt.data.introHeadline ?? opt.data.title }}</h2>
                {% endif %}
                {% if craft.app.config.general.devMode and opt.debug %}
                    <h1 class="text-red font-bold mb-2 -mt-2 text-xs">./templates/item/{{opt.data.type}}.twig</h1>
                {% endif %}
                {# show related categories #}
                {% if opt.cn.category ?? null %}
                    {% if opt.data.category %}
                        <div class="{{ opt.cn.category.wrap }}">
                            {% set categories = opt.data.category %}
                            {% for entry in categories.all() %}
                                <a href="{{ entry.url }}" class="{{ opt.cn.category.a }}">
                                    #{{ entry }}
                                </a>
                            {% endfor %}
                        </div>
                        {# !show related categories #}
                    {% endif %}
                {% endif %}
            </header>
        {% endif %}
        {% if opt.cn.body ?? null %}
            <div class="{{ opt.cn.body.wrap }}">
            {% if opt.cn.body.p ?? null %}
                <p class="{{ opt.cn.body.p }}">
                    {{ opt.data.introTeaser }}
                </p>
                {% endif %}
                {# TODO: CTA TEXT FELD #}
                {% if opt.cn.body.a ?? null %}
                <a class="{{ opt.cn.body.a }}" href="{{ opt.data.url }}">{{ opt.CTA ?? null}}</a>
                 {% endif %}
            </div>
        {% endif %}

    </article>
    {% if opt.cn.wrap ?? null %}
    </div>
{% endif %}
