{# set defaults #}

{% set defaults = {
    imager: {
        dominantColor: false,
        blurUp: true,
        mediaBox: false,
        objectFit: false,
    },
    el: {
        images: {
            imageLandscape:  entry.contentImage.one() ?? null,
            imagePortrait: entry.contentImageMobile.one() ?? null,
        },
        articleHeader: entry.title ?? false,
        articleParagraph: entry.teaserText ?? false,
        articleCta: entry.teaserCtaText ?? false,
    },
    cn: {
        articleWrap: 'articleWrap',
        article: 'article training w-full flex -mx-2 p-2',
        articleImageWrap: 'articleImageWrap w-1/2 px-2',
        articleImageCaption: 'articleImageCaption',
        articleContentWrap: 'articleContentWrap w-1/2 px-2',
        articleHeader: 'articleHeader mb-4',
        articleCta: 'articleCta mt-4 block',
    },
} %}

{# -- Merge Default with Options -- #}
{% set opt = opt is defined ? defaults | merge(opt): defaults %}

{% if opt.cn.articleWrap %}
<div class="{{ opt.cn.articleWrap }}">
    {% endif %}
    <article class="{{ opt.cn.article }}">
        {% if opt.el.images %}
            <div class="{{ opt.cn.articleImageWrap }}">
                {% include '_elements/img/default.twig' with {
                    data : {
                        imager: {
                            images: opt.el.images,
                            options: opt.imager,
                        }
                    }
                } only %}
                {% if opt.cn.articleImageCaption|length %}
                    <div class="{{ opt.cn.articleImageCaption }}">
                        {% if opt.el.images.imageLandscape.caption %}
                            &#9400 {{ opt.el.images.imageLandscape.caption ?? null }}
                            /
                        {% endif %}
                        {% if opt.el.images.imageLandscape.source %}
                            <a class="text-white hover:underline"
                               href="{{ opt.el.images.imageLandscape.sourceUrl }}">{{ opt.el.images.imageLandscape.source }}</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if opt.cn.articleContentWrap %}
        <div class="{{ opt.cn.articleContentWrap }}">
            {% endif %}
            {% if opt.cn.articleHeader %}
                <header>
                    <h3 class="{{ opt.cn.articleHeader }}">
                        {{ opt.el.articleHeader }}
                    </h3>
                    {% set categories = entry.category %}
                    {% if categories %}
                        {% for entry in categories.all() %}
                            <a href="{{ entry.url }}"
                               class="">
                                #{{ entry }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </header>
            {% endif %}
            {% if opt.el.articleParagraph %}
                {{ opt.el.articleParagraph }}
            {% endif %}
            {% if opt.el.articleCta or entry.linkToEntry %}
                <a href="{{ entry.url }}"
                   class="{{ opt.cn.articleCta }}">
                    {{ opt.el.articleCta }}
                </a>
            {% endif %}
            {% if opt.cn.articleContentWrap %}
        </div>
        {% endif %}
    </article>
    {% if opt.cn.articleWrap %}
</div>
{% endif %}
