{% extends "entry/default.twig" %}


    {% block inlineCriticalCss %}
        <style>
            {{ craft.twigpack.includeFile('@webroot/dist/criticalcss/' ~ _self ~  '_critical.min.css') }}
        </style>
    {% endblock %}

{# -- cache -- #}
{% cache globally using key 'entry/blog/default-' ~ (craft.imager.clientSupportsWebp ? "with-webp") ~ craft.app.request.pathInfo ~ (craft.app.request.pageNum ? '/p' ~ craft.app.request.pageNum : '') %}

    {# -- header -- #}
    {% block header %}
        {% include '_components/header/default.twig' with {
            data : {
                header: {
                    title: {
                        entry: false,
                    },
                    description: {
                        entry: false,
                    },
                },
                imager: {
                    options: {
                        preload: true,
                        objectFit: true,
                        class: 'relative w-full h-128',
                    },
                    images: {
                        imageLandscape: entry.headerImage.one() ?? null,
                        imagePortrait: entry.headerImageMobile.one() ?? null,
                    },
                    template: entry.headerImageMobile.one() ? 'artDirection' : 'default',
                },
                nav: {
                    template: 'default',
                    entry: navigationMain.globalNavigationMain.all() ?? null
                }
            }
        } only %}
    {% endblock %}
    {# -- header end -- #}


    {% block content %}

        <div class="flex-col items-center">
            <h1>{{ entry.title }}</h1>
            <time datetime="{{ entry.postDate | date('M d, Y') }}">
                {{ entry.postDate | date('M d, Y') }}</time>

            {# show categories/breadcrumps #}
            {% if entry.category %}
                <div>
                    {% set categories = entry.category %}
                    {% for entry in categories.all() %}
                        <a href="{{ entry.url }}">
                            {{ entry }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

            {% block itemContent %}
                {% if entry.contentBuilder %}
                    {% include '_matrix.twig' with {
                        matrix : entry.contentBuilder,
                    } only %}
                {% endif %}
            {% endblock %}


    {% endblock %}


    {# -- !Cache -- #}
{% endcache %}
