{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}

{% set image = opt.data %}
{% set options = opt.imager %}

{% set defaults = {
    sizes: [
        { width: 1920 },
        { width: 1366 },
        { width: 1200 },
        { width: 992 },
        { width: 768 },
        { width: 576 }
    ],
    allowUpscale: false,
    alt: image.title,
    background: false,
    blurUp: false,
    class: false,
    dominantColor: true,
    format: 'jpg',
    interlace: true,
    lazy: true,
    mediaBox: true,
    mode: 'crop',
    objectFit: true,
    objectFitValue: 'cover',
    openDiv: false,
    position: false,
    preload: false,
    quality: 85,
    ratio: false,
    dataSizes: 'auto',
    watermark: false,
} %}

{# Merge Attr with Defaults #}
{% set options = options ? defaults | merge(options): defaults %}

 {% if image %}

     {# Set Ratio #}
     {% if options.ratio %}
         {% set base64Ratio = options.ratio|split(':') %}
         {% set ratio = options.ratio ? options.ratio|replace({":": "/"}) : '' %}
     {% else %}
         {% set imageSize = image.getWidth ~ ':' ~ image.getHeight %}
         {% set base64Ratio = imageSize|split(':') %}
         {% set ratio = imageSize ? imageSize|replace({":": "/"}) : '' %}
     {% endif %}

     {# Set Position #}
     {% if options.position %}
         {% set position = options.position %}
     {% elseif image.hasFocalPoint %}
         {% set position = (image.focalPoint.x * 100) ~ '% ' ~ (image.focalPoint.y * 100) ~ '%' %}
     {% else %}
         {% set position = '50% 50%' %}
     {% endif %}

     {# Define global variables #}
     {% set imageSettings = {
         allowUpscale: options.allowUpscale,
         format: options.format,
         interlace: options.interlace,
         jpegQuality: options.quality,
         mode: options.mode,
         position: position,
         ratio: ratio,
     } %}

     {% set imageSettingsWebp = {
         allowUpscale: options.allowUpscale,
         format: 'webp',
         interlace: options.interlace,
         webpQuality: options.quality,
         mode: options.mode,
         position: position,
         ratio: ratio,
     } %}

     {#Get Dominant Color#}
     {% set dominantColor = craft.imager.getDominantColor(image) %}
     {# Setup Image Transforms #}
     {% set images = craft.imager.transformImage(image, options.sizes, imageSettings) %}

     {# If the server has support for WebP, create transforms #}
     {% if craft.imager.serverSupportsWebp() %}
         {% set imagesWebp = craft.imager.transformImage(image, options.sizes, imageSettingsWebp) %}
     {% endif %}


     <div{% if options.mediaBox %} class="mediabox aspect-ratio-{{- ratio -}}"{% endif %}  {% if options.dominantColor %}style="{{- 'background-color: ' ~ dominantColor ?? '' -}}"{% endif %}>


         {# Background Image #}
         {% if options.background %}
         <div
             class="{{ options.class }} {{ options.ratio ? 'o-ratio  o-ratio--' ~ options.ratio|replace({":": "-"}) : '' }}{% if options.lazy %} lazyload{% endif %}"
             style="background-image: url('{{ craft.imager.base64Pixel(base64Ratio|first, base64Ratio|last) }}');background-position: {{ position|trim("'") }};"
             {% if options.lazy %}
             data-{% endif %}bgset="{{ craft.imager.srcset(images) }}"
             {% if options.lazy %}
             data-{% endif %}sizes="{{ options.dataSizes }}">
             {% if not options.openDiv %}
                 </div>
             {% endif %}

             {# LazyLoaded Image #}
         {% elseif options.lazy %}
             <picture>
                 {% if craft.imager.serverSupportsWebp() %}
                     <source data-sizes="{{ options.dataSizes }}"
                             data-srcset="{{ craft.imager.srcset(imagesWebp) }}"
                         {% if options.blurUp %}
                             data-lowsrc="{{ imagesWebp|last.url }}"
                         {% endif %}
                             type="image/webp">
                 {% endif %}
                 <img
                     class="{{ options.class }} lazyload {% if options.preload %}lazypreload {% endif %}{% if options.mediaBox %}mediabox-img{% endif %}"
                     src="{{ craft.imager.base64Pixel(base64Ratio|first, base64Ratio|last) }}"
                     data-sizes="{{ options.dataSizes }}"
                     data-srcset="{{ craft.imager.srcset(images) }}"
                     {% if options.blurUp %}
                         data-lowsrc="{{ images|last.url }}"
                     {% endif %}
                     alt="{{ options.alt }}"
                     {% if options.objectFit %}
                         style="object-fit:{{ options.objectFitValue }};object-position:{{ position|trim("'") }};font-family:'object-fit:{{ options.objectFitValue }};object-position:{{ position|trim("'") }};'"
                         height="100%" width="100%"
                     {% endif %}
                     {% if not options.objectFit %}
                         height="auto" width="100%"
                     {% endif %}
                 />
             </picture>

             {# objectFit Image #}
         {% elseif options.objectFit %}
             <picture>
                 {% if craft.imager.serverSupportsWebp() %}
                     <source sizes="{{ options.dataSizes }}"
                             srcset="{{ craft.imager.srcset(imagesWebp) }}"
                         {% if options.blurUp %}
                             data-lowsrc="{{ imagesWebp|last.url }}"
                         {% endif %}
                             type="image/webp">
                 {% endif %}
                 <img
                     class="{{ options.class }} {% if options.lazy %}lazyload {% endif %}{% if options.preload %}lazypreload {% endif %}{% if options.mediaBox %}mediabox-img{% endif %}"
                     src="{{ craft.imager.base64Pixel(base64Ratio|first, base64Ratio|last) }}"
                     sizes="{{ options.dataSizes }}"
                     srcset="{{ craft.imager.srcset(images) }}"
                     {% if options.blurUp %}
                         data-lowsrc="{{ images|last.url }}"
                     {% endif %}
                     alt="{{ options.alt }}"
                     style="object-fit:{{ options.objectFitValue }};object-position:{{ position|trim("'") }};font-family:'object-fit:{{ options.objectFitValue }};object-position:{{ position|trim("'") }};'"
                     height="100%" width="100%"/>
             </picture>
             {# normal Image #}
         {% else %}
             <picture>
                 {% if craft.imager.serverSupportsWebp() %}
                     <source sizes="{{ options.dataSizes }}"
                             srcset="{{ craft.imager.srcset(imagesWebp) }}"
                             type="image/webp">
                 {% endif %}
                 <img class="{{ options.class }}"
                      src="{{ craft.imager.base64Pixel(base64Ratio|first, base64Ratio|last) }}"
                      sizes="{{ options.dataSizes }}"
                      srcset="{{ craft.imager.srcset(images) }}"
                      alt="{{ options.alt }}"
                      height="auto" width="100%"/>
             </picture>
         {% endif %}
     </div>
 {% endif %}

  {# -- Image -- #}
  {# <picture class="{{ opt.cn }}
                  {% for modifier in opt.modifiers %}
                    {{ modifier | length ? '  ' ~ opt.cn ~ '--' ~ modifier }}
                  {% endfor %}
                  {% for customClass in opt.customClasses %}
                    {{ customClass | length ? '  ' ~ customClass }}
                  {% endfor %}"
                  {% for key, value in opt.data %}
                    {{ 'data-' ~ key ~ '=' ~ value }}
                  {% endfor %}
           {% if opt.dominantColor %}style="{{ 'background-color: ' ~ opt.image.pluginOptimizedImagesSquare.colorPalette[0] ?? 'black' }}"{% endif %}>
    <source srcset="{{ opt.maxWidth ? imageSrcsetMaxWidthWebP : imageSrcsetWebP }}"
            sizes="100vw"
            type="image/webp"/>
    <img class="{{ opt.cn ~ '__image' }}  lazyload"
      {% if opt.objectFit %}
        style="object-fit: {{ opt.objectFit }}; object-position: {{ focalpoint }}; font-size: 'object-fit: {{ opt.objectFit }};';"
      {% endif %}
         src="{{ imagePlaceholderBox }}"
         srcset="{{ opt.maxWidth ? imageSrcsetMaxWidth : imageSrcset }}"
         sizes="100vw"
         width="{{ imageMaxWidth }}"
         height="auto"
         alt="{{ opt.image.title }}"/>
    <noscript><img src="{{ imageSrc }}" alt="{{ opt.image.title }}"></noscript>
  </picture> #}
