{% extends "entry/default" %}

{# -- inline css -- #}
{% block _inline_css %}
    <style>
        {{source ("work_critical.min.css", ignore_missing=true)}}
    </style>
    {# -- end inline css -- #}
{% endblock %}
{% block content %}
    {% block itemContent %}
        {# {{ parent() }} #}
        {% embed "./_elements/figure/default" with {
                            opt : {
                                classes: {
                                    figure: '',
                                    figcaption: 'flex flex-col items-center flex-wrap my-4',
                                }
                            }
                        } %}
            {% block figure %}
                {% if entry.media | length %}
                    {% set asset = entry.media.one() %}
                    {% set embeddedAsset = craft.embeddedAssets.get(asset) %}
                    {% set id = embeddedAsset.url | replace({
                        (embeddedAsset.providerUrl): ''
                    }) %}
                    <div id="player" data-plyr-provider="{{ embeddedAsset.providerName | lower }}" data-plyr-embed-id="{{ id }}"></div>
                {% endif %}
            {% endblock %}
            {% block figcaption %}
                <h1 class=" text-2xl mb-4">{{ entry.title }}</h1>

                <div class="flex justify-between w-full">
                    <p class="font-bold uppercase text-right w-1/2 pr-4">Protagonist:</p>
                    <p class="text-left uppercase w-1/2 pl-4">{{ entry.protagonist }}</p>
                </div>

                <div class="flex justify-between w-full">
                    <p class="font-bold uppercase text-right w-1/2 pr-4">Speaker:</p>
                    <p class="text-left uppercase w-1/2 pl-4">{{ entry.speaker }}</p>
                </div>

                <div class="flex justify-between w-full">
                    <p class="font-bold uppercase text-right w-1/2 pr-4">Director:</p>
                    <p class="text-left uppercase w-1/2 pl-4">{{ entry.director }}</p>
                </div>

                <div class="flex justify-between w-full">
                    <p class="font-bold uppercase text-right w-1/2 pr-4">Dop:</p>
                    <p class="text-left uppercase w-1/2 pl-4">{{ entry.dop }}</p>
                </div>

                <div class="flex justify-between w-full">
                    <p class="font-bold uppercase text-right w-1/2 pr-4">Production:</p>
                    <p class="text-left uppercase w-1/2 pl-4">{{ entry.production }}</p>
                </div>

                <div class="flex justify-between w-full">
                    <p class="font-bold uppercase text-right w-1/2 pr-4">Music:</p>
                    <p class="text-left uppercase w-1/2 pl-4">{{ entry.music }}</p>
                </div>

                <div class="flex justify-between w-full">
                    <p class="font-bold uppercase text-right w-1/2 pr-4">Sound mixing:</p>
                    <p class="text-left uppercase w-1/2 pl-4">{{ entry.soundMixing }}</p>
                </div>

                <div class="flex justify-between w-full">
                    <p class="font-bold uppercase text-right w-1/2 pr-4">Editing:</p>
                    <p class="text-left uppercase w-1/2 pl-4">{{ entry.editing }}</p>
                </div>

            {% endblock %}
        {% endembed %}

    {% endblock %}
{% endblock %}
