{% extends "matrix/default" %}

{% block blockContent %}

    <div
        class="flex flex-wrap -mb-4 -mx-2 js-gallery"
        itemscope itemtype="http://schema.org/ImageGallery">
        {% for image in block.images.all() %}
            <figure
                class="mb-4 px-2 w-full md:w-1/2 lg:{{- block.columns -}}"
                itemprop="associatedMedia" itemscope
                itemtype="http://schema.org/ImageObject">
                <a href="{{ image.url() }}" itemprop="contentUrl"
                   data-size="{{ image.getWidth }}x{{ image.getHeight }}">
                        {% include '_elements/img/default' with {
                            opt : {
                                data: {
                                    imageLandscape: image,
                                },
                                imager: {
                                    wrapper: 'h-full',
                                    mediaBox: true,
                                    blurUp: false,
                                    objectFit: true,
                                    ratio: block.ratio,
                                }
                            }
                        } only %}
                </a>
                {% if block.caption %}
                    <figcaption
                        itemprop="caption description">{{ image.caption }}</figcaption>
                {% endif %}
            </figure>
        {% endfor %}

    </div>

{% endblock %}
