{% extends "matrix/default.twig" %}

{# TODO: für ratio muss wrapper, mediabox und objectFit aktiv sein  #}
{% set isGallery = false %}
{% block blockContent %}
    <div
        class="flex flex-wrap -mb-4 -mx-2 {% if isGallery %}js-gallery{% endif %}">
        {% for image in block.images.all() %}
            <figure
                class="mb-4 px-2 w-full md:w-1/2 lg:{{- block.columns -}}">
                {% if isGallery %}
                <a href="{{ image.url() }}" itemprop="contentUrl"
                   data-size="{{ image.getWidth }}x{{ image.getHeight }}">
                    {% endif %}

                    {% include '_elements/img/default.twig' with {
                        data : {
                            imager: {
                                options: {
                                    wrapper: true,
                                    mediaBox: true,
                                    blurUp: false,
                                    objectFit: true,
                                    ratio: block.ratio,
                                },
                                images: {
                                    imageLandscape: image,
                                },
                            },
                        }
                    } only %}
                    {% if isGallery %}
                </a>
                {% endif %}
                {% if block.caption %}
                    <figcaption
                        itemprop="caption description">{{ image.caption }}</figcaption>
                {% endif %}
            </figure>
        {% endfor %}

    </div>

{% endblock %}
