{% if nextText is not defined %}
{% set nextText = "Older" %}
{% endif %}

{% if prevText is not defined %}
{% set prevText = "Newer" %}
{% endif %}

{% set urlSuffix = (craft.app.request.queryStringWithoutPath) ? "?" ~ craft.app.request.queryStringWithoutPath : "" %}

{% if paginate.prevUrl or paginate.nextUrl %}
<nav class="pagination">
	{% if paginate.prevUrl %}
	<a href="{{ paginate.prevUrl }}{{ urlSuffix }}" class="newer">&larr; {{ prevText }}</a>
	{% endif %}

	{% if paginate.nextUrl %}
	<a href="{{ paginate.nextUrl }}{{ urlSuffix }}" class="older">{{ nextText }} &rarr;</a>
	{% endif %}
</nav>
{% endif %}
